.container {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.container iframe {
  width: min(600px, 100%);
  aspect-ratio: 16/9;
  border: 0;
  cursor: pointer;
}

.container h1 {
  font-size: clamp(2.5rem, 5vw, 3.75rem);
}

.container p {
  margin: 2rem;
  max-width: 50%;
}

.container button {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  .container p {
    max-width: 100%;
  }
}
