.button {
  display: inline-block;
  border: 0;
  outline: 0;
  font-weight: 600;

  border-radius: 4px;

  background: #e9be00;
  padding: 1rem 2rem;
  margin-block-start: 1.2rem;

  transition: background 0.2s ease-in-out;
}

.button:hover {
  background: #cfaa03;
}
