.container {
  width: 80%;
  margin: 3.8rem auto;
}

.container h1 {
  margin-top: 1rem;
  font-size: clamp(2.5rem, 5vw, 3.75rem);
  font-weight: bold;
}

.container p {
  margin-top: 1rem;
  max-width: 60ch;
}

.container a {
  margin-top: 1.2rem;
}

.container ul {
  list-style: circle;
  padding-left: 1.2rem;
}

.container li {
  line-height: 2;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.content .info {
  margin-right: 1rem;
}

.rtl {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.rtl .info {
  margin-left: max(2vw, 2rem);
}

.img {
  border-radius: 8px;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(29, 29, 29, 0.5) 40%,
      rgba(255, 255, 255, 0) 80%
    ),
    #161616;
  background-repeat: repeat-y;
  background-size: 250px 200px;
  background-position: -70% 0;
  animation: shine 1.4s infinite;
}

@keyframes shine {
  to {
    background-position: 160% 0, 0 0;
  }
}

@media screen and (max-width: 983px) {
  .container {
    width: 90%;
    margin: 3.8rem auto;
  }
}

@media screen and (max-width: 780px) {
  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .img {
    animation-duration: 1.2s;
    background-size: 120px 200px;
  }

  .rtl {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .rtl .info {
    margin-left: 0;
  }

  .container {
    width: 95%;
  }

  .container p {
    margin-top: 1rem;
  }
}
