.definition {
  padding: 2.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.definition h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

.definition p {
  width: 100%;
  max-width: 1000px;
  display: block;
}

.definition p {
  margin: 1rem auto 0 auto;
}

@media screen and (max-width: 720px) {
  .definition {
    padding: 1.5rem;
  }
}
