.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../public/images/earth.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  padding: 5rem;
}

.info {
  z-index: 2;
  text-align: center;
}

.info h1 {
  font-size: 4rem;
  animation: fadein 0.8s;
}

.info p {
  display: block;

  max-width: 60%;

  margin: 0 auto;
  margin-top: 0.75rem;

  font-size: 1.25rem;

  animation: fadein 1s;
}

.info button {
  animation: fadein 1.2s;
}

@keyframes fadein {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.281);
}

@media screen and (max-width: 720px) {
  .info p {
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    max-width: 100%;
    font-size: 1rem;
  }
  .hero {
    padding: 1.5rem;
  }
}
